html {
    --scrollbarBG: lightgray;
    --thumbBG: #003c61;
}

body {
    font-family: 'Lato', sans-serif;
}

.scrollbar::-webkit-scrollbar {
    width: 11px;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 1px;
    border: 1px solid var(--scrollbarBG);
}

.indent {
    margin-left: 15px;
    margin-right: 15px
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
    display: none;
}

.content4 {
    grid-area: content4;
    display: none;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
    background-color: rgb(109, 111, 113);
    height: 25px;
}

.veg {
    grid-area: veg;
}

.fullveg {
    grid-area: fullveg;
    display: none;
}

.fuel {
    grid-area: fuel;
}

.parcel {
    grid-area: parcel;
    
}

.ftHeading {
    color: white;
    font-weight: 800 !important;
    font-size: 1.35vw;
}

.prior {
    grid-area: prior;
}

.report {
    grid-area: report;
}

/*.wrapper {
    background-color: #fff;
    color: #444;
}*/

.wrapper {
    display: grid;
    grid-gap: 0em;
    grid-template-areas:
        "header"
        "sidebar"
        "parcel"
        "content"
        "veg"
        "content2"
        "fuel"
        "prior"
        "footer";
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-gap: 0em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas:
        "parcel";
}

.header{
    background-color: rgb(44,44,44);
}

.sidebar2 {
    background-color: #ccc;
    color: #444;
}

.slidecontainer {
    width: 100%;
    padding: 10px;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 88%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    margin-right: 10px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(0, 124, 192);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}



.divButton {
    padding: 2px 10px;
    border: solid rgb(241, 90, 41) 1px;
    color: white;
    font-size: 14px;
    background-color: rgb(241, 90, 41);
    border-radius: 2px;
    cursor: default;
    text-align: center;
    margin:0 auto;
    display:block;
    width: 50%
}

.inActive {
    color: lightgray;
}

.ui-accordion .ui-accordion-content {
    padding: 0px;
}

.esri-legend{
    width: auto !important
}

.esri-legend__layer-cell--info {
    display: none !important
}

.esri-legend__service {
    padding: 5px 10px !important
}
.esri-legend__layer-table--size-ramp {
    margin: 0 !important
}
.ui-accordion-content-active {
    padding: 10px 0px !important
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid rgb(109, 111, 113);
    background: rgb(109, 111, 113);
    font-weight: normal;
    color: #ffffff;
}

.ui-widget-content {
    border: 0;
    background: #ffffff;
    color: #777;
}

.ui-accordion .ui-accordion-header {
    margin: 0
}

.ui-accordion-header .ui-corner-top .ui-state-default .ui-accordion-icons .ui-accordion-header-collapsed .ui-corner-all {
    background-color: rgb(172, 175, 179);
    color: rgb(77, 78, 80)
}

.list-group-item {
    border: 0
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-bottom, .ui-corner-left{
    border-radius: 0
}

.logo {
    padding: 5px 10px !important
}